<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">
    <bean id="myBean" class="com.bkunzh.dto.MyBean">
        <property name="myobj">
            <util:map>
                <entry key="key1" value="123"/>
                <entry key="key2" value="abc"/>
                <entry key="key3" value="nihao"/>
            </util:map>
        </property>
    </bean>

    <!-- 构造器声明map -->
    <bean name="mymap" class="java.util.HashMap">
        <constructor-arg>
            <map>
                <entry key="keya" value="aa"/>
                <entry key="keyb" value="bb2"/>
            </map>
        </constructor-arg>
    </bean>
</beans>